<!DOCTYPE html>
<html>
    <head>
        <title>Hello world - Python Flask</title>
        <style>
            body {font-family: sans-serif; line-height: 23px;}
            code {color: #222; background: #f9f9f9;}
        </style>
    </head>
    <body style="color: #333">
        <div style="max-width: 800px; margin: 0 auto;">
            <a href="/">Back to /</a>
            <div style="float: right;">[Source: <code>microservices/app/src/filestore.py</code>]</div>
            <br/>
            <h1>You must login to upload files.</h1>
            <hr/>
            <a href="http://auth.{{base_domain}}/ui/login?redirect_url=https%3A%2F%2Fapp.abaft85.hasura-app.io%2Fexamples%2Ffilestore">Login</a>
        </div>
    </body>
</html>
