<!DOCTYPE html>
<html>
    <head>
        <title>Hello world - Python Flask</title>
        <style>
            body {font-family: sans-serif; line-height: 23px;}
            code {color: #222; background: #f9f9f9;}
        </style>
    </head>
    <body style="color: #333">
        <div style="max-width: 800px; margin: 0 auto;">
            <h1>Hello world.</h1>
            <hr/>
            Make changes at <code>microservices/app/src/server.py</code> and <code>git push</code> to deploy.
            <br/>
            <br/>
            <h3>Backend examples</h3>
            <hr/>
            <a href="/examples/data">/examples/data</a>:<br/>
            Flask code fetching data from postgres without an ORM.<br/>
            <br/><br/>
            <a href="/examples/auth">/examples/auth</a>:<br/>
            Enable auth without writing any auth &amp; session handling code.<br/>
            <br/><br/>
            <a href="/examples/filestore">/examples/filestore</a>:<br/>
            Allow users to upload files without writing file-handling code.<br/>
        </div>
    </body>
</html>
